*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 65px;
    color:#fff ;
}
h2{
    font-size: 45px;
    color:#121212 ;
}
h3{
   font-size: 36px;
   color: #707070;
}
h4{
    font-size: 24px;
}
p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #707070;
}

a{
    text-decoration: none;
    font-size: 18px;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FF5959;
}

/* Top Banner style Starts */

#top-banner{
    text-align: center;
    color: #fff;
    padding: 175px 307px;
    margin-bottom: 50px;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#top-banner p{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
}

/* donate-today style starts here */

#donate-today{
    width: 60%;
    margin: 50px auto;
    text-align: center;
    padding-bottom: 50px;
}
.donate-desc{
    padding: 30px 0;
}

.donate-desc P{
    width: 600px;
    margin: 10px auto;
}

.donate-amount-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.donate-amount{
    width: 136px;
    height: 123px;
    background-color: #FAFAFA;
    margin-bottom: 50px;
}

.donate-amount h3{
    margin-top: 40px;
    padding: 0 15px;
}

.active{
    background-color: #FFEEEE;
    border: 2px solid rgba(255, 89, 89, 1);
}

.donate-input input{
    text-align: center;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #707070;
    margin-bottom: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Donate plan style starts */

#donate-plan{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 70px;
}

#donate-plan > h2{
    text-align: center;
}

#donate-plan > p{
    width: 600px;
    text-align: center;
    color: #707070;
    margin: 0 auto;
    padding: 20px 0;
}

.donate-plan-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.plan-card{
    width: 300px;
    border-radius:5px ;
    padding: 60px 25px;
}

.plan-card img{
    margin-bottom: 30px;
}
.plan-card h4{
    margin-bottom: 20px;
}

.plan-card p{
    color: #707070;
    text-align: justify;
}

.card-one{
    background-color: rgba(79, 157, 166, 0.1);;
}
.card-two{
    background-color: rgba(255, 89, 89, 0.1);;
}

.card-three{
    background-color: rgba(255, 244, 214, 1);
}